<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel Test Suite">
       <test name="Static pages tests" >
        <classes>
            <class name="tests.SummaryTest"/>
<!--            <class name="tests.SubscriptionsTest"/>-->
<!--            <class name="tests.MainTest"/>-->
<!--            <class name="tests.header.TopMenuTest"/>-->
<!--            <class name="tests.AutobahnTest"/>-->
        </classes>
    </test>
</suite>