<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="/Users/">
        <classes>
            <class name="tests.SummaryTest"/>
            <class name="tests.SubscriptionsTest"/>
            <class name="tests.header_tests.TopMenuTest"/>
            <class name="tests.footer_tests.FooterMenuTest"/>
            <class name="tests.MainTest"/>
            <class name="tests.header_tests.WebPageTest"/>
            <class name="tests.header_tests.NewsTest"/>
            <class name="tests.header_tests.ImageTest"/>
            <class name="tests.header_tests.VideoTest"/>
            <class name="tests.header_tests.MusicTest"/>
            <class name="tests.footer_tests.WhoWeAreTest"/>
            <class name="tests.footer_tests.MediaEducationTest"/>
            <class name="tests.footer_tests.CharityProjectTest"/>
            <class name="tests.footer_tests.OurDatacenterTest"/>
            <class name="tests.footer_tests.ContactUsTest"/>
            <class name="tests.header_tests.VpnPageTest"/>
            <class name="tests.header_tests.VpnInstructionsTest"/>
            <class name="tests.header_tests.EmailTest"/>
            <class name="tests.footer_tests.SetAsStartTest"/>
            <class name="tests.footer_tests.MakeDefaultSearchTest"/>
            <class name="tests.footer_tests.DonationTest"/>
            <class name="tests.footer_tests.PrivacyPolicyTest"/>
            <class name="tests.footer_tests.ImprintTest"/>
            <class name="tests.AutobahnTest"/>
        </classes>
    </test>
</suite>