name: CI

on:
  pull_request:
    branches: [main]

jobs:
  run-test:
    name: 'Run tests'
    runs-on: ubuntu-latest

    steps:
      - name: Git clone
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install JDK
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Ð¡ache maven
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-

      - name: Maven test
        run: mvn -B package --file pom.xml
        env:
          CHROME_OPTIONS: --disable-gpu;--no-sandbox;--disable-dev-shm-usage;--headless;--window-size=1920,1080
          CI_RUN: true

      - name: Attach Tests screenshots
        uses: actions/upload-artifact@v3
        with:
          path: screenshotsVideo

      - name: Attach Bug screenshots
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          path: screenshots

      - name: Generate Allure Report
        run: |
            wget https://repo.maven.apache.org/maven2/io/qameta/allure/allure-commandline/2.14.0/allure-commandline-2.14.0.zip
            unzip -q allure-commandline-2.14.0.zip
            allure-commandline-2.14.0/bin/allure generate target/allure-results --clean -o target/allure-report

      - name: Upload Allure Report
        uses: actions/upload-artifact@v2
        with:
         name: allure-report
         path: target/allure-report









